<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--<mapper namespace="adminSpace">--><!--Mybatis-->
<mapper namespace="com.cykj.springboot.mapper.UserListMapper">
<!--    <select id="userMessage" resultType="com.cykj.springboot.entity.UserList">-->
<!--        select user_id as userId,user_login_id as userLoginId,user_login_password as userLoginPassword-->
<!--        ,user_name as userName,user_gender as userGender,user_state as userState,education_id educationId-->
<!--        ,profession_id as professionId,mobile,e_mail as eMail,integral,remark from tb_user where 1=1-->
<!--        <if test="userLoginId != null and userLoginId != ''"> and user_login_password = #{userLoginPassword} and user_login_id = #{userLoginId}</if>-->
<!--        <if test="userId != null and userId != ''"> and user_id = #{userId}</if>-->
<!--    </select>-->
    <select id="selectList" parameterType="com.cykj.springboot.entity.UserList" resultType="com.cykj.springboot.entity.UserList">
        select user_id as userId,user_login_id as userLoginId,user_login_password as userLoginPassword
        ,user_name as userName,user_gender as userGender,user_state as userState,education_id educationId
        ,profession_id as professionId,mobile,e_mail as eMail,integral,remark from tb_user
<!--        where remark != 'manage'-->
<!--            <if test="remark != null and remark != ''"> and remark between #{eMail} and #{remark}</if>-->
<!--            <if test="userName != null and userName != ''"> and user_name like "%"#{userName}"%"</if>-->


    </select>
<!--    <insert id="addUser" parameterType="com.cykj.springboot.entity.UserList" keyProperty="userId" useGeneratedKeys="true">-->
<!--&lt;!&ndash;  注意：1.parameterType输入数据类型(可以是直接的数据类型，也可以是对应对象的中含有个属性（被#{}调用）)；-->
<!--            2.keyProperty为数据库实例类自增属性；3.useGeneratedKeys自动生成自增属性  &ndash;&gt;-->
<!--        insert into tb_user (user_login_id,user_login_password, user_name, user_gender, user_state, education_id,-->
<!--        profession_id, mobile, e_mail, integral, remark) values (#{userLoginId},#{userLoginPassword},#{userName},-->
<!--         #{userGender},#{userState},#{educationId},#{professionId},#{mobile},#{eMail},#{integral},#{remark})-->
<!--    </insert>-->
<!--    <update id="updateState" parameterType="com.cykj.springboot.entity.UserList">-->
<!--        update tb_user set user_state = #{userState} where user_id = #{userId}-->
<!--    </update>-->
</mapper>